@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
body{
    background: grey;
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c2d910abcc9bb04fcb180f6a45e407&dpr=2&auto=format&fit=crop&w=767&h=485&q=60&cs=tinysrgb);
}
.product-navbar {
    height: 40px;
    width: 100%;
    /* background: #2596be; */
    /* border-bottom: 1px solid #090b0f; */
    font-family: 'Open Sans',sans-serif;
    /* font-size: 14px; */
    font-size: 135%;
    /* line-height: 1.42857143; */
    color:white;}
    .heading{
        font-size: 125%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    } 
    .team-card{
        justify-content: space-evenly;
        transition: transform .5s;
    }
    @keyframes cardAnim {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    .about{
        /* background-color: #2596be; */
        display: block;
        border: #090b0f;
        margin-left: 5%;
        margin-top: 3%;
        margin-right: 3%;
        /* float: left;
        width: 29%; */
        color: white;
    }
    .team{
        /* background-color: #2596be; */
        display: block;
        border: #090b0f;
        margin-left: 5%;
        margin-top: 3%;
        /* float: left;
        width: 29%; */
        color: white;
    }
    .history{
        display: block;
        margin-left: 5%;
        margin-top: 3%;
        margin-right: 5%;
        /* float: left;
        width: 29%; */
        color: white;
    }
    .team-card:nth-child(1) {
        animation: cardAnim 1s 1s backwards;
    }
    
    .team-card:nth-child(2) {
        animation: cardAnim 1s 1.5s backwards;
    }
    
    .team-card:nth-child(3) {
        animation: cardAnim 1s 2s backwards;
    }
    .team-card:nth-child(4) {
        animation: cardAnim 1s 2.5s backwards;
    }
    .team-card:nth-child(5) {
        animation: cardAnim 1s 3s backwards;
    }
    .team-card:hover {
        transform: scale(1.1);
    }
    
    .thanks{
        display: block;
        margin-left: 35%;
        float: left; 
        text-align: center;
        color: white;
        font-size: 200%;
    }
