@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d82ae;
}

html {
  font: normal 16px sans-serif;
  color: white;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a:hover {
  opacity: 1;
}

.grid {
  width: 100%;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  /* margin-bottom: 50px; */
}

section h3.title {
  padding-top: 10vh;
  text-transform: capitalize;
  font: bold 32px "open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775;
  line-height: 2;
  padding: 0 10px;
  /* margin-bottom: 30px; */
  text-align: center;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

.author_me {
  padding-bottom: 20px;
}

/* section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
} */

/* section:not(.hero):nth-child(even){
    background-color: #f5f5f5;
} */

/* @media (max-width: 800px) { */
/* section {
        padding: 50px 20px;
    } */

/*Header Styles */

header {
  position: absolute;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 800px) {
  header {
    /* padding: 20px 50px; */
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 12px;
  }
}

/*Hero Styles*/

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: bold 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

/*Destinations Section*/

.destinations .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destinations .grid li.small {
  flex-basis: 30%;
}

.destinations .grid li.large {
  flex-basis: 70%;
}

@media (max-width: 1100px) {
  .destinations .grid li.small,
  .destinations .grid li.large {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  .destinations .grid li.small,
  .destinations .grid li.large {
    flex-basis: 100%;
  }
}

.destinations {
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;
}

/*Packages Section*/

.packages .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

.packages .grid li i {
  color: #8c9eff;
}

.packages .grid li h4 {
  font-size: 30px;
  margin: 25px 0;
}

@media (max-width: 800px) {
  .packages .grid li {
    flex-basis: 100%;
    padding: 20px;
  }
}

.packages {
  background: rgba(0, 0, 0, 0.8);
}

/*Testimonials*/

.testimonials .quote {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin: 40px 0 0;
  padding-bottom: 15vh;
  font-family: sans-serif;
}

/* .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  } */

@media (max-width: 800px) {
  .testimonials .quote {
    font-size: 18px;
    margin-top: 15px;
  }

  .testimonials .author {
    font-size: 14px;
  }
}

.testimonials {
  background: rgba(0, 0, 0, 0.8);
}
.contact form .btn {
    padding: 15px;
  }

.contact {
  background: rgba(0, 0, 0, 0.8);
}

/*Contact Section*/

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.contact form .btn {
  padding: 15px;
}

.contact form input {
  padding: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: white;
  flex: 1;
}

/* @media (max-width: 1000px) {
   .contact form input {
       flex-basis: 100%;
       margin: 0 0 20px 0;
   }

} */
/* dropdown */

/*footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #607d8b; */
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px 0;
}

footer ul {
  display: flex;
}

footer li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-items: center;
}

@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  /* .topBar{
        padding-left: 50%;
    } */

  footer ul li {
    margin: 0 8px;
  }
}
.hero td,tr {
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 200px;
  border-spacing: 30px;
  font-size: medium;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .topBar{
  padding-left: 1200px;
} */

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(45, 124, 160);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(5, 52, 80);
  background-color: transparent;
  text-decoration: underline;
}
/* @media (max-width: 1100px) { */
/* .topBar{
        margin-top: 0px;
        padding-left: 50%;
        padding-right: 0px;
    } */
/* } */
/* @media (min-width:1100px) { */
/* .topBar{
        margin-top: 0px;
        padding-left: 50%;
        padding-right: 0px;
    } */

form {
  padding: 50px;
}
.middle {
  background: rgba(0, 0, 0, 0.8);
  padding-top: 5%;
}
.form-control {
  width: 40%;
  border-radius: 5px;
  font-size: 3vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div#carousel { 
    perspective: 1200px; 
    /* background: rgba(0, 0, 0, .8); */
    /* padding-top: 10%;  */
    font-size:0; 
    overflow: hidden; 
  }
  
  
  
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  }
  
  figure#spinner img { 
    width: 40%; 
    max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }

  .zero {
    background: rgba(0, 0, 0, 0.8);
  }

  .zero td,tr {
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-spacing: 30px;
    font-size: medium;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .endBar{
    padding-left: 600px;
  }
  .gui ul{
    --col-gap: 2rem;
    --barH: 1rem;
    --roleH: 2rem;
    --flapH: 2rem;
  padding-bottom: 2%;
    width: 100%;
    /* margin-inline: auto; */
  
    display: flex;
    flex-wrap: wrap;
  
    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);
  
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    list-style: none;
  }
  .gui li {
    width: 12em;
    display: grid;
    grid-template:
      "role"
      "icon"
      "title"
      "descr";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: var(--accent-color);
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) var(--roleH),
      rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
      rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem)
    );
    clip-path: polygon(
      calc(var(--col-gap) / -2 - 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px ) calc(100% - var(--flapH)),
      50% 100%,
      calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH))
    );
  }
  
  /* bar */
  .gui li::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    z-index: -1;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4)
    );
  }
  
  /* role */
  .gui li::after {
    content: "";
    grid-area: role;
    background: var(--accent-color);
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4)
    );
    height: var(--roleH);
  }
  
  .gui li .icon,
  .gui li .title,
  .gui li .descr {
    padding-inline: 1rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .gui li .icon {
    font-size: 3rem;
  }
  .gui li .title {
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  .gui li .descr {
    font-size: 0.9rem;
  }
  
  .credits {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .credits a {
    color: var(--color);
  }
  
  

